// customize bootstrap variables here:
@import 'variables';
@import 'bootstrap';

.pad {
  display: block;
  border: none;
  background: #CCF;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

