// customize bootstrap variables here:
@import 'variables';
@import 'bootstrap';

#title { font-size: 3em; }

#contact-grid {
  @extend .col-md-8;
  background: #FEE;
  opacity: 50%;
}

.pad {
  display: inline-block;
  border: none;
  background: #CCF;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 50%;
  &.left { float: left; }
  &.right { float: right; }
}

.tips {
  @extend .col-sm-8;
  @extend .col-sm-offset-2;
  padding: 20px;
  background: rgba(80, 80, 80, 0.3);
}