.container
  .row
    .col-md-6.col-md-offset-3
      %h1#title Call Your Mother. 

  .row
    .col-md-8.col-md-offset-2#contact-grid
      .row
        %p.col-xs-6.grid#grid-top-left
          Mom
        %p.col-sx-6.grid#grid-top-right
          Dad
      .row
        %p.col-xs-6.grid#grid-bottom-left
          Grandma
        %p.col-xs-6.grid#grid-bottom-right
          Grandpa

  .row
    .col-md-6.col-md-offset-3
      / %form{role: 'form', action: '/call', method: 'post'}
      /   .form-group
      /     // %input.form-control.input-lg{type: "text", id: "number", name: "number", placeholder: "888-555-5555"}
      /   %button.btn.btn-primary.btn-lg{type: "submit"} Ring It

      %h2 Don't worry, I already know your number.

      
      - if settings.development?
        %p.smaller= "Request contains:"
        %pre
          = request.inspect